@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-0 m-0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rotate-wink-left-eyes {
  animation-name: rotateWinkLeftEyes;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.02,1.02,.05,1.51)
}

@keyframes rotateWinkLeftEyes {
  0%  {
    rotate: 0;
  }
  100% {
    rotate: -12.25deg;
  }
}